@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Fira+Sans+Extra+Condensed:wght@700&family=Inter:wght@400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'comfortaa';
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background: #00001d;
    height: 1000px;
    transition: all 0.5s;
}

/* width */
body::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  body::-webkit-scrollbar-track {
  
    background: #000037;
  }
   
  /* Handle */
  body::-webkit-scrollbar-thumb {
    background: #000084; 
  }
  
  /* Handle on hover */
  body::-webkit-scrollbar-thumb:hover {
    background: #0000b7; 
  }

  .topnav {
    z-index: 100;
    width: 100%;
    position: fixed;
    font-weight: 700;
    overflow: hidden;
    background-color: #000037;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 20px ;
    text-decoration: none;
    font-size: 17px;
    border-radius: 2px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: #00001d;
  }
  
  .topnav a.active {
    background-color: #ff5555;
    color: white;
    cursor: pointer;
  }

  #Account {
    float: right;
  }

  #Logo {
    transform: translateY(50%);
    float: left;
    max-block-size: 2em;
  }
.footer-container {
    bottom: 0;
    position: absolute;
    background: #212329;
    padding-bottom: 2rem 0 2rem 0;
    width: 100%;
    transform: translateY(105%);
  }
  .footer {
    width: 100%;
    height: 25vh;
    background: #212329;
    color: #ddd;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    overflow-y: hidden;
  }
.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}
.footer-heading h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;

}
.footer-heading a {
  text-align: center;
  color: #ddd;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
.footer-heading a:hover {
  color: #E64E4E;
  transition: 0.3s ease-in-out;
}
.footer-email-form h2 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
#footer-email {
  width: 250px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  padding-left: 0.5rem;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#footer-email::placeholder {
  color: #00001d
}
#footer-email-btn {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background: #E64E4E;
  outline: none;
  border: none;
  color: #ddd;
  font-size: 1rem;
}
#footer-email-btn:hover {
  cursor: pointer;
  background: #A1D4FF;
  color: #00001d;
  transition: all 0.4s ease-in-out;
}
@media screen and (max-width: 1150px) {
  .footer {
    height: 50vh;
  }
  .footer-email-form {
    margin-top: 4rem;
  }
}
.maincontent {
    width: 100%;
    position: absolute;
    top:50%;
    left:0%;
    transform: translateX(15%);

    margin-left:-200px;
    font-weight: 700;
    overflow: hidden;
    background-color: #00001d;
    color: white;
    text-align: center;
  }


.inputs-container {
  left: 50%;
  transform: translateX(0%);
  justify-content: center;
  padding: 2rem;
  font-family: 'comfortaa';
  font-weight: 700;
}

#ChatGPT-Q-I {
  box-shadow: 0 0px 8px 0 #AA3838;
  color: #ddd;
  text-size-adjust: relative;
  padding: 1rem;
  width: 60%;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background: #141414;
  border: none;
}

#ChatGPT-Q-I:hover {
  box-shadow: 0 0px 16px 0 #E64E4E;
transition: all 0.4s ease-out;
}


#Q-BTN-Send:hover {
  box-shadow: 0 0px 16px 0 #E64E4E;
  transition: all 0.4s ease-out;
  }
  
#Q-BTN-Send {
  box-shadow: 0 0px 8px 0 #AA3838;
  color: #ddd;
  background: #141414;
  padding: 1rem;
  width: 10%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border: none;
  cursor: pointer;
}

.text-popup-container h2 {
  padding: 0.5rem;
}

.text-popup-container h3 {
  padding: 0 0.5rem 0 0.5rem;
}

  .ChatGPT-container {
    height: 90vh;
    z-index: 1;
    width: 100%;
    position: absolute;
    font-size: 1rem;
    color: #ddd;
    background: #1c1c1c;
    bottom: 50%;
    transform: translateY(55%);
  }
  .div-User-Q {
    text-align: right;
  }
  .div-User-Name {
    position: relative;
    text-align: right;
    padding-right: 2rem;
  }
